body {
	background-color: #15161d;
	color: #fff;
}
h1 {
	margin-bottom: 40px;
}
a {
	color: #fff;
}
label,
input {
	display: block;
}
input,
button {
	margin-bottom: 20px;
}

main .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
